# Enviormental Variables
.env.local
.env
secrets.json
sim_wallet.json

# Virtual Enviorments
.venv/

# Model Files
qwen-model/
poly_adapters/

# Other
__pycache__/
.uv-cache/
.DS_Store
*.pyc
reports/
state/
.testdata/
.pytest_cache/
.tmp_pytest/
pytest-cache-files-*/
logs/
