# Enviormental Variables
.env.local
.env
secrets.json

# Virtual Enviorments
.venv/

# Model Files
qwen-model/
poly_adapters/

# Other
__pycache__/
.DS_Store
*.pyc
logs/
reports/
state/
.testdata/
.pytest_cache/
.tmp_pytest/
pytest-cache-files-*/




